@using PASR.Users.Dto
@using PASR.Web.Models.Leads

<div class="card">
    <div class="card-header">
        <div class="row align-items-center">
            <div class="col-md-6">                
            </div>
            <div class="col-md-6">
                @await Html.PartialAsync("~/Views/Users/Index.AdvancedSearch.cshtml")
            </div>
        </div>
    </div>
    <div class="card-body">
        <div class="table-responsive">
            <table id="UsersTable" class="table table-striped table-bordered">
                <thead>
                    <tr>
                        <th>@L("UserName")</th>
                        <th>@L("FullName")</th>
                        <th>@L("EmailAddress")</th>
                        <th style="width: 150px">@L("Action")</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                </tbody>
            </table>
        </div>
    </div>
</div>