/* prevent the drop down icon going onto a new line for the top bar language link */
.top-bar-language-nav-link {
    min-width: 65px;
}

/* bootstrap model showing two scroll bars */
html {
    overflow: visible;
}

/* main sidebar not under model */
.modal {
    z-index: 1110;
}

textarea {
    resize: none;
}

.form-group.required .col-form-label:after {
    color: #d00;
    content: "*";
    position: absolute;
    margin-left: 3px;
}

.nav-user-menu .user-image {
    width: 20px;
    margin-right: 4px;
    margin-top: -4px;
}

.popover.action-list{
    min-width: 130px;    
}

li.menu-action:hover {
    cursor: pointer;
}